body {
  background-image: url(./assets/bg-image-2.png);
  background-size: cover;
}

#container {
  max-width: 800px;
  padding: 24px;
  background-color: #f0e8c2;
  border-radius: 24px;
  margin: 48px auto;
  box-sizing: border-box;
}

#about h1 {
  color: #291b1a;
  font-family: "Alice", serif;
}

#about p {
  color: #573a37;
  font-family: "Alice", serif;
}
